@using ClientDependency.Core.Mvc
@using Articulate;
@model Articulate.Models.IMasterModel

<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html" charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />

    @Html.Partial("~/Views/Partials/SiteLayout/_MainNav.cshtml")


    <title>@Model.PageTitle</title>
    @Html.MetaTags(Model)
    @Html.SocialMetaTags(Model)
    @Html.AdvertiseWeblogApi(Model)
    @Html.RssFeed(Model)
    @Html.RenderOpenSearch(Model)
    <meta name="HandheldFriendly" content="True" />
    <meta name="MobileOptimized" content="320" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no" />

    @{ Html
            .RequiresJs("https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js")
            .RequiresCss("https://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css")
            .RequiresCss("https://fonts.googleapis.com/css?subset=latin,cyrillic-ext,latin-ext,cyrillic&family=Open+Sans+Condensed:300|Open+Sans:400,600,400italic,600italic|Merriweather:400,300,300italic,400italic,700,700italic|Roboto+Slab:400,300")
            //This loads all CSS found in the current theme's css folder: /Assets/css
            .RequiresThemedCssFolder(Model);
    }

    @Html.RenderCssHere()
    @RenderSection("Header", false)
</head>
<body class="@ViewBag.CssBodyClass">

    <header id="site-head">

        @if (!Model.BlogLogo.IsNullOrWhiteSpace())
        {
            <a id="blog-logo" href="@Url.ArticulateRootUrl(Model)">
                <div class="bloglogo" style="background: url(@Model.BlogLogo)"></div>
            </a>
        }

        <h1 class="blog-title">
            <a href="@Url.ArticulateRootUrl(Model)">
                @Model.BlogTitle
            </a>
        </h1>

        @Html.ThemedPartial(Model, "HeaderDescription")
        @Html.ThemedPartial(Model, "Menu")

    </header>

    @RenderBody()

    <footer class="site-footer">
        <div class="inner">

            @Html.ThemedPartial(Model, "FooterDescription")

            <section class="copyright">
                &copy; @DateTime.Now.ToString("yyyy")
                <a href="/">@Model.BlogTitle</a>. All rights reserved.
            </section>
            <section>Vapor theme by <a href="http://sethlilly.com/">Seth Lilly</a></section>

        </div>
    </footer>

    @Html.RenderJsHere()

    @Html.GoogleAnalyticsTracking(Model)

</body>
</html>
