@using Articulate
@using Umbraco.Core
@model Articulate.Models.PostModel
@{
    Layout = "Master.cshtml";
    ViewBag.CssBodyClass = "post-template";
}

<main class="content" role="main">

    <article class="post">

        <header>
            <h1 class="post-title">@Model.Name</h1>
            <div class="post-meta">
                <time datetime="@Model.PublishedDate.ToString("yyyy-MM-dd")">
                    @Model.PublishedDate.ToString("dddd, MMMM dd, yyyy")
                </time>
            </div>
            @Html.ThemedPartial(Model, "PostTags")
        </header>

        <section class="post-content">

            @if (!Model.CroppedPostImageUrl.IsNullOrWhiteSpace())
            {
                <img class="postImage" alt="@Model.Name" src="@Model.CroppedPostImageUrl" />
            }

            @Model.Body
        </section>

        <section class="share">
            <p class="info prompt">Share this post</p>
            <a href="http://twitter.com/share?text=@Model.Name&url=@Model.UrlWithDomain()"
               onclick="window.open(this.href, 'twitter-share', 'width=550,height=235');return false;">
                <i class="fa fa-2x fa-fw fa-twitter"></i> <span class="hidden">Twitter</span>
            </a>
            <a href="https://www.facebook.com/sharer/sharer.php?u=@Model.UrlWithDomain()"
               onclick="window.open(this.href, 'facebook-share','width=580,height=296');return false;">
                <i class="fa fa-2x fa-fw fa-facebook-square"></i> <span class="hidden">Facebook</span>
            </a>
            <a href="https://plus.google.com/share?url=@Model.UrlWithDomain()"
               onclick="window.open(this.href, 'google-plus-share', 'width=490,height=530');return false;">
                <i class="fa fa-2x fa-fw fa-google-plus-square"></i> <span class="hidden">Google+</span>
            </a>
        </section>

        <footer class="post-footer">

            @if (!Model.Author.Name.IsNullOrWhiteSpace())
            {
                <section class="author">
                    @if (!Model.Author.Image.IsNullOrWhiteSpace())
                    {
                        <div class="authorimage" style="background: url(@Model.Author.Image)"></div>    
                    }
                    <p class="attr">Author</p>
                    <h4>
                        @if (!Model.Author.BlogUrl.IsNullOrWhiteSpace())
                        {
                            <a href="@Model.Author.BlogUrl">@Model.Author.Name</a>
                        }
                        else
                        {
                            @Model.Author.Name
                        }
                    </h4>
                    @if (!Model.Author.Bio.IsNullOrWhiteSpace())
                    {
                        <p class="bio">@Model.Author.Bio</p>
                    }
                </section>
            }

        </footer>
        
        @*@if (Model.EnableComments)
        {
            @Html.ThemedPartial(Model, "CommentsDisqus")
            @Html.ThemedPartial(Model, "CommentsGooglePlus")
            @Html.ThemedPartial(Model, "CommentsFacebook")
        }*@

    </article>

</main>
