﻿@using Umbraco.Core.Models
@using Umbraco.Web
@using Umbraco.Web.Mvc
@using ContentModels = Umbraco.Web.PublishedContentModels;


@inherits Umbraco.Web.Mvc.UmbracoTemplatePage


@{
    Layout = "Webbase.cshtml";
}

@Html.Partial("~/Views/Partials/Banner/BannerPicker.cshtml", Model.Content)

@Html.Partial("~/Views/Partials/Carousel/CarouselPicker.cshtml", Model.Content)

@Html.Partial("~/Views/Partials/Nested/NestedPicker.cshtml", Model.Content)

@Html.Partial("~/Views/Partials/Accordion/AccordionPicker.cshtml", Model.Content)

@{
    if ((Model.Content.GetPropertyValue<bool>("Optional")) == true)
    {
        @Html.Partial("~/Views/Partials/Sidebar.cshtml", Model.Content)
    }
    else
    {
        <p>sidebar option turned off - Remove text after testing</p>
    }
}
