﻿@using Umbraco.Core.Models
@using Umbraco.Web
@using Umbraco.Web.Mvc
@using ContentModels = Umbraco.Web.PublishedContentModels;


@inherits Umbraco.Web.Mvc.UmbracoTemplatePage


@{
    Layout = "Webbase.cshtml";
}

@*Render partials for banners and nested content*@

@Html.Partial("~/Views/Partials/Banner/BannerPicker.cshtml", Model.Content)

@Html.Partial("~/Views/Partials/Nested/NestedPicker.cshtml", Model.Content)

@*Option - true/false to determine whether to show sidebar || Remove else <p> once testing is finished*@

@{
    if ((Model.Content.GetPropertyValue<bool>("Optional")) == true)
    {
        @Html.Partial("~/Views/Partials/Sidebar.cshtml", Model.Content)
    }
    else
    {
        <p>Sidebar switched off! <em>- This is here for testing and will be deleted once finished</em></p>
    }
}


@*Forms need fixed - renders even when not selected*@
@Umbraco.RenderMacro("renderUmbracoForm", new {FormGuid="767267c4-d309-4519-af4e-06612f59a16a", FormTheme="", ExcludeScripts="0"}) 

