﻿@using Umbraco.Core.Models
@using Umbraco.Web
@using Umbraco.Web.Mvc
@using ContentModels = Umbraco.Web.PublishedContentModels;


@inherits Umbraco.Web.Mvc.UmbracoTemplatePage


@{
    Layout = "Webbase.cshtml";
}

@Html.Partial("~/Views/Partials/Banner/BannerPicker.cshtml", Model.Content)

@Html.Partial("~/Views/Partials/Carousel/CarouselPicker.cshtml", Model.Content)

@Html.Partial("~/Views/Partials/Nested/NestedPicker.cshtml", Model.Content)

@{
    if ((Model.Content.GetPropertyValue<bool>("Optional")) == true)
    {
        @Html.Partial("~/Views/Partials/Sidebar.cshtml", Model.Content)
    }
    else
    {
        <p>This is here for testing and will be deleted once finished</p>
    }
}

@*Question for Dave - The sidebar above, is it correct to put the if statement here or would it be better to run the if statement within the partial?*@

@Umbraco.RenderMacro("renderUmbracoForm", new {FormGuid="767267c4-d309-4519-af4e-06612f59a16a", FormTheme="", ExcludeScripts="0"})


