﻿@using Umbraco.Core.Models;
@using Umbraco.Web;
@using Umbraco.Web.Mvc;
@using ContentModels = Umbraco.Web.PublishedContentModels;


@inherits Umbraco.Web.Mvc.UmbracoTemplatePage


@{
    Layout = "Webbase.cshtml";

    var imgid = Umbraco.Field("image");
    var imgurl = Umbraco.Media(imgid.ToString()).Url;
}

<i>The text below this has been imported</i>

<h1>@Umbraco.Field("title")</h1>
@Umbraco.Field("text")

@Html.Partial("~/Views/Partials/Banner/BannerPicker.cshtml", Model.Content)

@Umbraco.Field("date")<br />
 

<img src="@imgurl" alt="">
@Umbraco.Field("image")