﻿@inherits UmbracoViewPage

    <div><a href="home">Test Project<span>.</span></a></div>
    <ul>
        <li><a href="home">Home</a></li>
        <li><a href="blog">Blog</a></li>
        <li><a href="content">Content</a></li>
    </ul>













@*@inherits Umbraco.Web.Mvc.UmbracoViewPage<List<NavigationListItem>>
@using uLearn.Models

<nav role="navigation">
    <ul>
        @RenderChildItems(Model)
    </ul>
</nav>



@helper RenderChildItems(List<NavigationListItem> listItems)
{
    if (listItems != null)
    {
        foreach (var item in listItems)
        {
            <li>
                @if (!String.IsNullOrEmpty(item.Text))
                {
                    @item.Text
                }
                else if (item.Link != null)
                {
                    <a href="@item.Link.Url" class="@(Umbraco.AssignedContentItem.Url == item.Link.Url ? "active" : null) @(item.HasChildren ? "fh5co-sub-ddown" : null)" target="@item.Link.Target">@item.Link.Text</a>
                }

                @if (item.HasChildren)
                {
                    <ul class="sub-menu">
                        @RenderChildItems(item.Items)
                    </ul>
                }
            </li>
        }
    }
}

*@