﻿@using Umbraco.Web
@using Umbraco.Web.Routing
@inherits UmbracoViewPage<IPublishedContent>

<h2>Sidebar</h2>

@{

    <ul>
        @foreach (var child in Model.Children)
        {
            <li><a href="@child.Id">@child.Name</a></li>
        }
    </ul>

}
