﻿@model NestedBlockVideo

<h3>@Model.Subtitle</h3><br />

<iframe id="youtubeplayer" type="text/html" width="640" height="360" src="http://www.youtube.com/embed/@Model.VideoId" frameborder="1"></iframe>