﻿@using Umbraco.Web
@inherits UmbracoViewPage<IPublishedContent>
@{
    var items = Model.GetPropertyValue<IEnumerable<IPublishedContent>>("Nested");

    if (items != null)
    {
        foreach (var item in items)
        {
            if (item is TitleBase)
            {
                @Html.Partial("~/Views/Partials/Text/TitleBase.cshtml", new TitleBase(item))
            }

            else if (item is SubtitleBase)
            {
                @Html.Partial("~/Views/Partials/Text/SubtitleBase.cshtml", new SubtitleBase(item))
            }

            else if (item is NestedBlockSubtitleText)
            {
                @Html.Partial("~/Views/Partials/Nested/NestedBlockSubtitleText.cshtml", new NestedBlockSubtitleText(item))
            }

            else if (item is NestedBlockTextImage)
            {
                @Html.Partial("~/Views/Partials/Nested/NestedBlockTextImage.cshtml", new NestedBlockTextImage(item))
            }

            else if (item is NestedBlockVideo)
            {
                @Html.Partial("~/Views/Partials/Nested/NestedBlockVideo.cshtml", new NestedBlockVideo(item))
            }

            else if (item is TextBase150)
            {
                @Html.Partial("~/Views/Partials/Text/TextBase150.cshtml", new TextBase150(item))
            }

            else if (item is TextBase500)
            {
                @Html.Partial("~/Views/Partials/Text/TextBase500.cshtml", new TextBase500(item))
            }

            else if (item is TextBaseRich)
            {
                @Html.Partial("~/Views/Partials/Text/TextBaseRich.cshtml", new TextBaseRich(item))
            }

            else
            {
                <p>None of the nested types</p>
            }
        }
    }

    else
    {
        <p>No content found, please contact your administrator</p>
    }
}
